<div class="exception-body">

    <div class="exception-topbar">
        <a href="#" class="logo">
            <img src="assets/layout/images/logo.png" alt="california-layout"/>
        </a>
    </div>

    <img class="exception-image" src="assets/layout/images/image-access.png" alt="california-layout" />

    <div class="exception-panel">
        <img class="exception-icon" src="assets/layout/images/icon-access.png" alt="california-layout" />
        <h1 class="exception-summary">Acceso denegado</h1>
        <p class="exception-detail">
            Usted no tiene permisos para acceder a esta pagina o su sesion ha expirado.<br>
            Regrese al login principal para proporcionar nuevamente sus credenciales.
        </p>
        <div>
            <button type="button" pButton label="Ir al login" [routerLink]="['/']"></button>
        </div>
    </div>
</div>
