<form [formGroup]="recoveryForm" (ngSubmit)="passwordRecovery()">
    <p-toast key="tst" [baseZIndex]="99999"></p-toast>
    <div class="login-body">
        <div class="login-topbar">
            <a class="logo">
                <img src="assets/layout/images/logo.png" alt="california-layout"/>
            </a>
        </div>
    
        <img class="login-image" src="assets/layout/images/image-access.png" alt="california-layout" />
    
        <div class="login-panel p-fluid">
            <div class="grid">
                <div class="col-12 login-icon-container">
                    <img class="login-icon" src="assets/layout/images/passwordRecovery.png" alt="california-layout" />
                </div>
                <div class="col-12 lg:col-12 md:col-12 logo-container">
                    <span class="login-summary">Recuperar contraseña</span>
                    <div class="login-detail">
                        <span>Bienvenido a Alfred, llene los campos para recuperar su contraseña.</span>
                    </div>
                </div>
                <div class="col-12 lg:col-12 md:col-12">
                    <div class="input-wrapper">
                        <label>Nombre de usuario</label>
                        <input type="text" autocomplete="off" pInputText formControlName="username">
                    </div>
                    <div>
                        <ng-container *ngFor="let message of errorMessages.username">
                            <div id="usernameErrors" class="error-message" *ngIf="recoveryForm.get('username').hasError(message.type)
                             && (recoveryForm.get('username').dirty || recoveryForm.get('username').touched)">
                                <p-message severity="error" text="{{message.message}}"></p-message>
                                <ion-icon name="information-circle-outline"></ion-icon>{{message.message}}
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="field col-12 md:col-6">
                    <div class="grid p-fluid mt-3">
                        <div class="field col-12">
                            <span class="p-float-label">
                                <p-dropdown [autoDisplayFirst]="false"
                                            inputId="idTypes" 
                                            [options]="idTypes" 
                                            optionLabel="item"
                                            optionValue="catalogsPK.itemId"
                                            formControlName="idType"
                                            appendTo="body"></p-dropdown>
                                <label for="idTypes">Tipo de documento</label>
                            </span>
                            <div>
                                <ng-container *ngFor="let message of errorMessages.idType">
                                    <div id="idTypesErrors" class="error-message" *ngIf="recoveryForm.get('idType').hasError(message.type)
                                    && (recoveryForm.get('idType').dirty || recoveryForm.get('idType').touched)">
                                        <p-message severity="error" text="{{message.message}}"></p-message>
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 lg:col-12 md:col-12">
                    <div class="input-wrapper">
                        <label>Número de documento</label>
                        <input type="text" autocomplete="off" pInputText formControlName="document">
                    </div>
                    <div>
                        <ng-container *ngFor="let message of errorMessages.document">
                            <div id="documentErrors" class="error-message" *ngIf="recoveryForm.get('document').hasError(message.type)
                             && (recoveryForm.get('document').dirty || recoveryForm.get('document').touched)">
                                <p-message severity="error" text="{{message.message}}"></p-message>
                                <ion-icon name="information-circle-outline"></ion-icon>{{message.message}}
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-12 lg:col-12 md:col-12">
                    <div class="input-wrapper">
                        <label>Correo</label>
                        <input type="text" autocomplete="off" pInputText formControlName="email">
                    </div>
                    <div>
                        <ng-container *ngFor="let message of errorMessages.email">
                            <div id="emailErrors" class="error-message" *ngIf="recoveryForm.get('email').hasError(message.type)
                             && (recoveryForm.get('email').dirty || recoveryForm.get('email').touched)">
                                <p-message severity="error" text="{{message.message}}"></p-message>
                                <ion-icon name="information-circle-outline"></ion-icon>{{message.message}}
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-12 lg:col-12 md:col-12 button-container">
                    <div class="grid p-fluid mt-12">
                        <button type="submit" pButton label="Recuperar" [disabled]="!recoveryForm.valid" class="mr-2 mb-2"></button>
                        <button type="reset" pButton label="Cancelar" [routerLink]="['/']" class="mr-2 mb-2"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</form>