<div class="exception-body">
    <div class="exception-topbar">
        <a href="#" class="logo">
            <img src="assets/layout/images/logo.png" alt="california-layout"/>
        </a>
    </div>

    <img class="exception-image" src="assets/layout/images/image-error.png" alt="california-layout" />

    <div class="exception-panel">
        <img class="exception-icon" src="assets/layout/images/icon-error.png" alt="california-layout" />
        <h1 class="exception-summary">Ha ocurrido un problema</h1>
        <p class="exception-detail">
            Parece que algo no ha salido bien.<br>
            El servicio puede no estar disponible, si el problema persiste contacte con su administrador.
        </p>
        <div>
            <button type="button" pButton label="Volver al inicio" [routerLink]="['/']"></button>
        </div>
    </div>
</div>
